/*Abby Chester
CSCI 4000
20 October 2022
*/

html {
	background-color: #F3FFF9;
}

body {
    margin: auto;
	width: 800px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
	box-shadow: 2px 2px 5px #535A56;
	border: 5px groove #535A56;
    text-align: center;
}
