html {
    background-color: #dfb1aa;
}

body {
	background-color: #5f1f1f;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
    margin: 50px auto;
    box-shadow: 5px 5px 10px black;
    padding: 20px;
    color: white;
}
h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
    text-align: center;
    text-shadow: 2px 2px black;
}
footer{
    text-align: right;
}
#results {
    text-shadow: 2px 2px black;
}